@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

body {
  font-family: 'Merriweather', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p{
  margin: 10px 0;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
}

:root {
  --primary-color: blue;
  --secondary-color: rgba(185, 185, 248, 0.712);
  --outer-shadow: 2px 2px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.fa-ellipsis-v {
  margin-right: 20px;
  font-size: 1rem;
  display: none;
  cursor: pointer;
}

.outer-shadow {
  box-shadow: var(--outer-shadow);
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.grid-item {
  padding: 20px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.grid-item-2 {
  padding: 20px;
}

.fontColor {
  animation: fontColor 10s ease-in-out infinite;
}

/* Heading Section Starts */
.heading-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
}

.heading-section .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-section img {
  width: 50px;
  margin: 20px 20px;
}

.heading-section ul {
  display: flex;
  align-items: center;
}

.heading-section li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding-top: 20px;
}

.heading-section a {
  font-size: 1rem;
  color: black;
  margin: 0 20px;
}

.heading-section a:hover {
  border-bottom: 2px solid blue;
}
/* Heading Section Ends */

/* Showcase Section Starts */
.showcase-section {
  margin-top: 50px;
  margin-bottom: 30px;
  transition: 0.5s ease-in;
}

.showcase-section img{
  width: 100%;
  border-radius: 50%;
}

.showcase-section h1 {
  animation: fontColor 10s ease-in-out infinite;
}

.showcase-section button {
  margin-top: 20px;
  margin-right: 20px;
  color: var(--primary-color);
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
}

.showcase-section button:hover {
  background-color: var(--secondary-color);
}

.aboutArrow {
  animation: rightBounce 3s ease-in-out infinite;
}
/* Showcase Section Ends */

/* Article Section Starts */
.article-section {
  margin-top: 40px;
}

.article-section .article {
  text-align: center;
}

.article-section .article h3 {
  animation: fontColor 10s ease-in-out infinite;
}

.article-section .grip-article p {
  font-size: 15px;
}

.article-section .grip-article {
  max-width: 400px;
  border-radius: 10px;
  cursor: pointer;
}

.article-section .outer-shadow:hover {
  border: 1px solid blue;
  color: var(--primary-color);
}
/* Article Section Ends */

@keyframes fontColor {
  0% {
    color: black;
  }
  50%{
    color: blue;
  }
}